<% include ./partials/header %>



<body>
    
    <div id="content">
        <div class="container" >
  
     <div class="newforms" >
        <div class="form-group">
    <h2 style="text-align: center; " >Add a New Meal</h2><br>
    </div>
    
    
        <form action="/newmeal"  method="POST">
            
            <div class="form-group">
                <p  for="name">Name of The Meal: </p>
                <input class="form-control" type="text" name="name" placeholder="Name of The Meal">
            </div>
            
            <!--<div class="form-group">-->
            <!--    <p for="category">Category: </p>-->
            <!--    <input class="form-control" type="text"placeholder="Category">-->
            <!--</div>-->
  
            
            
<div class="form-group">

<p class="ilm">Select Category  
        <span class="right">
                <select  style="display:inline" class="form-control"  name="category"  id="category">
                  <option id="---">---</option>
                    
                </select></span></p></div>
            
            
               <script>
   var url="/api/getcategories"
        $.getJSON(url,
    function (json) {
        
        
        
        console.log(json)
        
        
        var category = $("#category");
            $.each(json, function() {
                category.append($("<option />").val(this.name).text(this.name));
            });
        
    
        
    });
    
              
   </script>

        
            
            <div class="form-group">
                <p for="price">Price: </p>
                <input class="form-control" type="text" name="price" placeholder="Price">
            </div>
            
            <div class="form-group">
                
            <button class="btn btn-lg btn-primary btn-block" >Submit</button>
            </div> 
        </form>
        
        
               
            
  
   
    <!--  <p class="ilm" style="display:inline" ><b>Add Category: </b>-->
    
    <!--<span class="right">-->
    
    <!--  <input type="text" id="categoryName" class="form-control" placeholder="Category Name">-->
    
    
    <!-- <button type="button" class="btn btn-success" id = "addCategory">Add</button>-->
    <!--</span></p>-->
  
<div class="jumbotron" style="background-color:white">
            <div class="row ">
    <div class="col">
      <p style="display:inline" ><b>Add Category: </b></p>
    </div>
    <div class="col">
      <input type="text" id="categoryName" class="form-control" placeholder="Category Name">
    </div>
    <div class="col">
     <button type="button" class="btn btn-success" style="width:24em;" id = "addCategory">Add</button>
    </div>
  </div>
            </div>
            <script>
                
$('#addCategory').click(function () {
    var name = $('#categoryName').val();
    
    
 
    
    $.ajax({
        url: '/api/newcategory',
        type: "POST",
        data: {name},
        dataType: 'json',
        success: function (data) {
           var name = data.name
           
           var username = data.username
           
           console.log(name)
           
           console.log(username)
           
           
           
        }
    });
});
            </script>
            
        
        
        </div>
            
           
    
    </div>
  
     <div class='container fluid'><h1>MEALS</h1>
    <div class="row text-center" style = "display:flex; flex-wrap:wrap;">
        
        <br>
            <% meals.forEach(function(meal){ %>
            <div class="card meal-card" style="width: 15rem;">
                    
                        <h4 class="add" data-price="<%= meal._id  %>"><%= meal.mealname %></h4>
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <!--<h6 class="card-title"   data-name="<%= meal.name  %>"> <%= meal.name %> </h6>-->
                        
                        <!--<p class="card-text"><%= meal.category  %></p>-->
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <a href="#" data-pric="<%= meal.price  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></a>
                        
                      
                    </div>
            </div>
        <% }); %>
    </div>
   </div>
   
    <style>
        .meal-card{
            padding:1.5%;
            display:flex;
        }
        
        .newforms {
    margin-bottom: 1em;
}

.newforms {
    display: block;
    padding:2em;
    margin-top: 0em;
}
    </style>

    

<style>
    @media (min-width:320px)  {
    /* smartphones, iPhone, portrait 480x320 phones */ 
    #content{
        margin-top: 4em;
    }
    
    .meal-card{
        margin-left: 4em;
    }
    

    
}
</style>

<% include ./partials/footer %>