<% include ./partials/header %>




 <!--========================================================================================-->




 
 
 <!--=====================================================================================-->
 <!--BOOTSTRAP COLUMNS-->
 <!--=====================================================================================-->
 <div id="content">
 <div class="container">
     <div class="row">
   
   
     <div class="col-lg-2 col-sm-10 col-md-10">
     <div id = "kotdiv">
         
                 <p class="head">-<%= bill.billType %><span id="kotspan"></span>-</p><hr>

            <p class="text-center"><b>Table Number : </b><%= bill.tablenumber %></p>
            <p class="text-center"><b>Waiter Name: </b><%= bill.waitername %></p>
            <p class="text-center"><b>Order No. : </b><%= bill.bn %></p>
         

         <hr>
               <table id="kottable" class="table table-sm table-bordered ">
  <thead>
    <tr>
      
      <th scope="col">Particulars</th>
      <th scope="col">Qty.</th>
      
    </tr>
  </thead>
  <tbody>
     <% bill.meals.forEach(function(meal){ %> 
    <tr>
      
      <td><%= meal.mealname %></td>
      <th scope="row"></th>
      
      
    </tr>
    <% }); %>  
  </tbody>
</table>
    </div><br>
    <div class="form-group">
    <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  id="printkot" type="button" class="btn btn-success">Print KOT</button></div>
   <div class="form-group"> <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  id="delkot" type="button" class="btn btn-danger">Delete KOT</button></div>
    
    </div>
    
   
<!--========================================================================================-->
<!--SHOW MEALS-->
<!--========================================================================================-->
 <div class="col-lg-6 col-sm-10 col-md-10">

             
<ul class="list-group">
  <li class="list-group-item active">Order Number : <b id="orderNumber" ><%= bill.bn %> </b></li>
  <li class="list-group-item">Table Number : <b id="tableNumber" ><%= bill.tablenumber %></b></li>
  <li class="list-group-item">Waiter Name : <b id="waiterName" ><%= bill.waitername %></b></li>
</ul>
           
     
                <!--==============================START===================-->

          <!--==============================END===================-->
        <hr>
        
    
      <!--==============================START===================-->
      
        <h1>Beverages</h1>
         <div class="text-center" style = "display:flex; flex-wrap:wrap;">

        
        
        <% meals.forEach(function(meal){ %>
        
           <% if(meal.mealcategory == "Beverages"){ %>
        
        
        
            <div  data-id-value = "<%= meal  %>"  data-mealname-value = "<%= meal.mealname  %>"  data-mealprice-value = "<%= meal.mealprice  %>" class="card meal-card" style="width: 7rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <h6 data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></h6>
                        
                      
                    </div>
            </div>
            <% } %>
        <% }); %>
        <hr>
        
        
    </div>
    
      <!--==============================END===================-->
       <hr>
        
        <!--==============================START===================-->
      
        <h1>Soups</h1>
         <div class="text-center" style = "display:flex; flex-wrap:wrap;">

        
        
        <% meals.forEach(function(meal){ %>
        
           <% if(meal.mealcategory == "Soups"){ %>
        
        
        
            <div  data-id-value = "<%= meal  %>"  data-mealname-value = "<%= meal.mealname  %>"  data-mealprice-value = "<%= meal.mealprice  %>" class="card meal-card" style="width: 7rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <h6 data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></h6>
                        
                      
                    </div>
            </div>
            <% } %>
        <% }); %>
        <hr>
        
        
    </div>
    
      <!--==============================END===================-->
       <hr>
      <!--==============================START===================-->
      
        <h1>Appetizers</h1>
         <div class="text-center" style = "display:flex; flex-wrap:wrap;">

        
        
        <% meals.forEach(function(meal){ %>
        
           <% if(meal.mealcategory == "Appetizers"){ %>
        
        
        
            <div  data-id-value = "<%= meal  %>"  data-mealname-value = "<%= meal.mealname  %>"  data-mealprice-value = "<%= meal.mealprice  %>" class="card meal-card" style="width: 7rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <h6 data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></h6>
                        
                      
                    </div>
            </div>
            <% } %>
        <% }); %>
        <hr>
        
        
    </div>
    
      <!--==============================END===================-->
       <hr>
      
      <!--==============================START===================-->
      
        <h1>North Indian</h1>
         <div class="text-center" style = "display:flex; flex-wrap:wrap;">

        
        
        <% meals.forEach(function(meal){ %>
        
           <% if(meal.mealcategory == "North Indian"){ %>
        
        
        
            <div  data-id-value = "<%= meal  %>"  data-mealname-value = "<%= meal.mealname  %>"  data-mealprice-value = "<%= meal.mealprice  %>" class="card meal-card" style="width: 7rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <h6 data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></h6>
                        
                      
                    </div>
            </div>
            <% } %>
        <% }); %>
        
        
        
    </div>
    
      <!--==============================END===================-->
       <hr>
    
    
      <h1>Chinese</h1>
 <div class="text-center" style = "display:flex; flex-wrap:wrap;">
   
            <% meals.forEach(function(meal){ %>
            
                       <% if(meal.mealcategory == "Chinese"){ %>

            
            <div  data-id-value = "<%= meal  %>"  data-mealname-value = "<%= meal.mealname  %>"  data-mealprice-value = "<%= meal.mealprice  %>" class="card meal-card" style="width: 7rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <h6 data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></h6>
                        
                      
                    </div>
            </div>
             <% } %>
        <% }); %>
        </div>
        <hr>
        
      <!--==============================START===================-->
      
        <h1>Breads</h1>
         <div class="text-center" style = "display:flex; flex-wrap:wrap;">

        
        
        <% meals.forEach(function(meal){ %>
        
           <% if(meal.mealcategory == "Breads"){ %>
        
        
        
            <div  data-id-value = "<%= meal  %>"  data-mealname-value = "<%= meal.mealname  %>"  data-mealprice-value = "<%= meal.mealprice  %>" class="card meal-card" style="width: 7rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <h6 data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></h6>
                        
                      
                    </div>
            </div>
            <% } %>
        <% }); %>
        
        
        
    </div>
    
      <!--==============================END===================-->
       
    <hr>
        
      <!--==============================START===================-->
      
        <h1>Rice</h1>
         <div class="text-center" style = "display:flex; flex-wrap:wrap;">

        
        
        <% meals.forEach(function(meal){ %>
        
           <% if(meal.mealcategory == "Rice"){ %>
        
        
        
            <div  data-id-value = "<%= meal  %>"  data-mealname-value = "<%= meal.mealname  %>"  data-mealprice-value = "<%= meal.mealprice  %>" class="card meal-card" style="width: 7rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <h6 data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></h6>
                        
                      
                    </div>
            </div>
            <% } %>
        <% }); %>
        
        
        
    </div>
    
      <!--==============================END===================-->
       <hr>
       
        
      <!--==============================START===================-->
      
        <h1>Desserts</h1>
         <div class="text-center" style = "display:flex; flex-wrap:wrap;">

        
        
        <% meals.forEach(function(meal){ %>
        
           <% if(meal.mealcategory == "Desserts"){ %>
        
        
        
            <div  data-id-value = "<%= meal  %>"  data-mealname-value = "<%= meal.mealname  %>"  data-mealprice-value = "<%= meal.mealprice  %>" class="card meal-card" style="width: 7rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <h6 data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></h6>
                        
                      
                    </div>
            </div>
            <% } %>
        <% }); %>
        
        
        
    </div>
    
      <!--==============================END===================-->
       
    <hr>
    
     <!--==============================START===================-->
      
        <h1>Others</h1>
         <div class="text-center" style = "display:flex; flex-wrap:wrap;">

        
        
        <% meals.forEach(function(meal){ %>
        
           <% if(meal.mealcategory != "Desserts" && meal.mealcategory !=  "Rice" && meal.mealcategory !=  "Breads" && meal.mealcategory !=  "Chinese" && meal.mealcategory !=  "North Indian" && meal.mealcategory !=  "Beverages" && meal.mealcategory !=  "Soups" && meal.mealcategory !=  "Appetizers" ){ %>
        
        
        
            <div  data-id-value = "<%= meal  %>"  data-mealname-value = "<%= meal.mealname  %>"  data-mealprice-value = "<%= meal.mealprice  %>" class="card meal-card" style="width: 7rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <h6 data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></h6>
                        
                      
                    </div>
            </div>
            <% } %>
        <% }); %>
        
        
        
    </div>
    
      <!--==============================END===================-->
    
    
    </div>
    
    
 <!--========================================================================================-->
 <!--SHOW ITEMS IN BILL-->
 <!--========================================================================================-->
         <div class="col-lg-4 col-sm-10 col-md-10" >
             <div id="space">
             
              <p class="ilm"><b>Bill Type </b> 
        <span class="right">
                <select  style="display:inline  " class="form-control" id="billType" >
                  <option id="dineIn">Dine In</option>
                  <option id="takeAway" >Take Away</option>
                  <option id="delivery">Delivery</option>
                  
                </select></span></p></div><hr>
             
             <form>
  <div class="row">
    <div class="col">
      <p style="display:inline" >Cutomer Phone:</p>
    </div>
    <div class="col">
      <input type="text"  value="<%= bill.cPhone %>" id="cPhone" name="cPhone" class="form-control" placeholder="Number">
    </div>
    <div class="col">
     <button type="button" class="btn btn-success" id = "findCust">Go</button>
    </div>
  </div>
</form>
             
             
    <form class="form-inline" id = "theform">
        
        
        
       

        <div class="form-group">
             <p style="display:inline-block"  for="custName">Customer Name</p>
        <input class="form-control" style="margin-left:2.1em;" type = "text" name="cName" id = "cName" placeholder = "Customer Name" value="<%= bill.cName %>"></div>
        
        
   
        
        <div class="form-group">
             <p style="display:inline-block"  for="custEmail">Customer E-Mail</p>
        <input class="form-control"  style="margin-left:2em;" type = "text" name="cEmail" id = "cEmail" placeholder = "Customer E-Mail"  value="<%= bill.cEmail %>"></div>
    </form>  
    <div id ="billdiv" >

        
        <p class="head">---<%= bill.billType %><span id="bt"></span>---</p><hr>
        <p class = "head" ><b><%= currentUser.restoname %></b></p>
         <p class = "text-center billp" ><%= currentUser.add1  %></p>
        
         <p class = "text-center billp" ><%= currentUser.add2  %></p>
         <p class = "text-center billp" ><%= currentUser.add3  %></p>
          <p class = "text-center billp" >PH. <%= currentUser.phone  %></p>
          <p class = "text-center billp" >GST No. <%= currentUser.gst  %></p>
          <p class = "text-center billp" >CIN No. <%= currentUser.cin  %></p>
        
         <!--<p class = "text-center billp" ><b>CAFE - O2</b></p>-->
         <!--<p class = "text-center billp" >PLOT 147, NEAR RAHEJA ATLANTIS</p>-->
        
         <!--<p class = "text-center billp" >SECTOR-31, GURGAON</p>-->
         <!--<p class = "text-center billp" >HARYANA 122001</p>-->
         <!-- <p class = "text-center billp" >PH. 9891471187, 8447343632</p>-->
          
          
          <hr id="billtablemargin">
          
    <li class="il"><b>Waiter Name: </b><%= bill.waitername %><span class="right"> <b>Order No.:</b> <%= bill.bn %></span></li>
    <li class="il dates" style="margin-top:0.8em; margin-bottom:0.8em; line-height:2px;" ><b>Date: </b> <%= bill.created %></li>



    <li class="il dates"><b>Bill ID: </b><%= bill._id %></li>

        <hr><li class="il"><b> Customer Details: </b><span class="right"> <p style="display:inline" ></p></span></li>

        <li class="il"><b>Name: </b><%= bill.cName %><span id="cn"></span><span class="right"> <b>Phone: </b><%= bill.cPhone %><span id="cp"></span></span></li>

    
    
    <li class="il"><b>E-Mail: </b><%= bill.cEmail %><span id="ce"></span></li><hr>
   
    <!--<li class="il" id="asd"><span class="right">Date: <%= bill.created %> </span></li>-->

         
          <!--<p class = "text-left billp" style=" display: inline;">Waiter Name : <%= bill.waitername %>    </p>-->
          <!--<p class = "text-right billp" style="text-indent: 50px; display: inline;" >   Order No. : <%= bill.ordernumber %>    </p>-->
        
         <table id="billtable" class="table table-sm table-bordered ">
  <thead>
    <tr>
      
      <th scope="col">Particulars</th>
      <th scope="col">Qty.</th>
      
      <th scope="col">Rate</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
     <% bill.meals.forEach(function(list){ %>

      
    <tr>
      
      <td name="foodqty"><%= list.name %></td>
      <th name="qty" scope="row"><%= list.qty %></th>
      
      <td class="money"><%= list.price %></td>
      <td name = "rate"><%= list.rate %></td>
    </tr>
    
    
    <% }); %>  
    
  </tbody>
</table>
    <li class="il"> <b>Total Amount : </b><span class="right"> Rs. <p style="display:inline" id="totalAmt"><%=bill.totalAmt%><spanid="toa"></span></p></span></li>
    <li class="il"> Discount (-): <span class="right">  <p style="display:inline" ><%=bill.discount%><span id="dis"></span> %</p></span></li>
<br>

    <li class="il"><b> Tax Breakup </b><span class="right"> <p style="display:inline" ></p></span></li>
    <li class="il"> C GST @ 2.5% : <span class="right"> Rs. <p style="display:inline" id="cgst"><%=bill.cgst%></p></span></li>
    <li class="il"> S GST @ 2.5% : <span class="right"> Rs. <p style="display:inline" id="sgst"><%=bill.sgst%></p></span></li>
    <li class="il"> Total Tax (+): <span class="right"> Rs. <p style="display:inline" id="tax"><%=bill.tax%></p></span></li>

               <br> <li class="ilb"><b>Gross Amount: </b> <span class="right"><b>Rs.</b> <p style="display:inline" id="total_gross"><%=bill.total%></p></span></li>
    <br><li class="il"> Payment Method : <span class="right"> <p style="display:inline" id="tax"><%=bill.pm%><span id="pm"></span></p></span></li>


        <!--<p style="display:inline ">Total:</p><span>   </span><p style="display:inline" id="total_forces"></p>            -->
        
    
       <!--<hr ><p class="text-center">SCAN THIS QR CODE ⇊ LIKE US ON FACEBOOK</p><img id="fb" src="https://lh3.googleusercontent.com/wGpOYLQ-QVqsgV5cznD_QwUQt9nfe7_qFKZDDVaQoBPzKTLxyNt0d0hH0sCUkyCnQK7pNgZik52wlnl4bFLu4boiFJ015JrnOBmh9Ds2UzTE9TZ3l9E9ATfxiSe-uZ2QJR83PnzukSuppe58SWAFAFEcu7qEyzrIZbxiKeCgR8oNqAgnAOICAyE7EXw6SRRCyHoRs2trR0B9lwg09IkYtfSSKlEkiAuFVyeM938_dXgJ8lb1X9QA1zzecyi5VrxxaCI_rtQZFfwMnXZuCNKsfkh-JgEQbVaxTrFgyBSqbZq87MN7wODA8_6ifpKNlhblrN4PltG_wHDORLbCRWTO-hUPlfmMoiY0ct_MTLveGHdaBU2gaqzKP9viBbwQaBfI22WlBwhxPst4ZOAd9uEjMmufk4NHyxTiD4DVEk8wR2xAtbQA8xy4Bfl7ckTJdIrv6tOu65hCZHNT79cmfcFXjEfprU3a0Jv6z0FWRwR3XOtrdDdTOuqC7Rr6yEAVNAnPWnOiyrC4usQXVDhr51uvrKJomLzbCOp5ewNA995zKyl0-lztJY23WiLQo_RJlvnTNe0nnYPteB_oacc_b4nWRMdPo8aYzO8Hp9RD6Hn0FWao2XlITR1qPLVY95iNo9DlnVO3qBYSf7KU0y1kOCiGamxnjaDVypz8jg=s328-no" class="img-thumbnail">-->
      <!--https://photos.google.com/share/AF1QipOfX0Q45p09vNr4zcpciNxzthegIYQMigvf8Kmi3mJ3GlK_qHuQ7JlGi1ROU5kh0A/photo/AF1QipO-7vEN9q_2AnEciij8Z5Uy_XJUjq9iQh68_7sC?key=WUJmLUJSXzZhbWhaU2MzUUtXQklKbElMdTJlUXV3-->
 <!--<p class = "text-center" >Come again another day</p><hr>--><hr>
 <p class = "text-center" style="font-size:10px;" >Give your valuable feedback and get an offer on your next bill @ <a style="color:black" href = "https://Ornio.herokuapp.com/feedback/<%= bill.id%>">https://Ornio.herokuapp.com/feedback/<%= bill.id%></a> </p><hr>
 <p class = "text-center" style="font-size:10px;" >Billing system developed by Ornio Lab - AryaSumit145@gmail.com</p><hr>

  
  </div>
<br>




 <div class="form-group">
     

      <form>
  <div class="row">
    <div class="col">
      <p style="display:inline" ><b>Discount: </b></p>
    </div>
    <div class="col">
      <input type="text" id="discountPercentage" class="form-control" placeholder="In %">
    </div>
    <div class="col">
     <button type="button" class="btn btn-success" id = "applyDiscount">Apply Discount</button>
    </div>
  </div>
</form>
      
      
      <!--<p class="ilm"><b>Discount </b> -->
      <!--  <span class="right">-->
      <!--          <input  style="display:inline" class="form-control" id="discount" value="<%= bill.discount %>">-->
                  <!--<option id="5">5 %</option>-->
                  <!--<option id="10" >10 %</option>-->
                  <!--<option id="el">15 %</option>-->
                  
      <!--          </input></span>-->
      <!--          <button style="display:inline" >Calculate</button>-->
                
      <!--          </p><br>-->
         
     <p class="ilm"><b>Payment Method </b> 
        <span class="right">
                <select  style="display:inline" class="form-control" id="payment">
                  <option id="cash">Cash</option>
                  <option id="cash" >Card</option>
                  <option id="electronic">Electronic</option>
                  
                </select></span></p><br>
                
               
                
                
  <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  id="sendBill" type="button" class="btn btn-lg btn-success btn-block">Upload Bill</button><br>
  <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  id="newBill" type="button" class="btn btn-lg btn-primary btn-block">New Bill</button><br>
   <!--<div class="form-group">-->
  <!--<button onClick="download()">Download</button>-->
  <!--<button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%" onClick="download()" type="button" class="btn btn-lg btn-info btn-block">Download PDF</button></div>-->

    <!--<div class="form-group">-->
    <!--        <button id="printbill" class="btn btn-lg btn-primary btn-block" >Print Bill</button>-->
    <!--        </div>-->
   
   
   
 
     <script>
  
          $('#newBill').click(function(){
            window.location.href= "/newbill"  
              
          })
     $('#sendBill').click(function(){
    $(this).prop('disabled', true);
          var meals = JSON.stringify(myList);
          var total = $('#total_gross').text()
          var cgst = $('#cgst').text()
          var sgst = $('#sgst').text()
          var tax = $('#tax').text()
          var pm = $('#payment').find(":selected").text();
          var cName = $('#cName').val()
          var cPhone = $('#cPhone').val()
          var cEmail = $('#cEmail').val()
          var billType = $('#billType').find(":selected").text();
          var discount = $('#discountPercentage').val();
          var totalAmt = $('#totalAmt').text()

        $('#cn').html(cName)
        $('#cp').html(cPhone)
        $('#ce').html(cEmail)
        $('#bt').html(billType)
        $('#dis').html(discount)
        $('#toa').html(totalAmt)
        $('#pm').html(pm)
        
        
        var divContents = $("#billdiv").html();//div which have to print
                var printWindow = window.open('', '', 'height=700,width=900');
                printWindow.document.write('<html><head><title>BILL</title>');
                printWindow.document.write('<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" >');//external styles
                printWindow.document.write('<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">');//external styles
                printWindow.document.write('<style>font-family: "Share Tech Mono", monospace;</style>');//external styles
                printWindow.document.write('<link rel="stylesheet" href="/stylesheets/main.css" type="text/css"/>');
                printWindow.document.write('</head><body>');
                
                printWindow.document.write(divContents);
                printWindow.document.write('</body></html>');
                printWindow.document.close();

                printWindow.onload=function(){
                printWindow.focus();                                         
                printWindow.print();
                printWindow.close();
                }







     var details = {billType, total, cgst, sgst, tax, pm, cName, cPhone, cEmail, discount, totalAmt}
          console.log(details)
          
   
              $.post( "/bills/<%= bill._id %>", {meals} )
                      .then(
                                  
                              
                              $.post("/bills/<%= bill._id %>/bd", {billType, total, cgst, sgst, tax, pm, cName, cPhone, cEmail, discount, totalAmt:totalAmt})
                                   )
       
      

})

   
     
     </script>
     
      
             
 </form>
  
  </div>
 </div>
 



<!--========================================================================================-->
    
    
<div class='container fluid'>
    <hr>
    <h1>Feedback</h1> 
        
            <hr>
                        <% bill.feedback.forEach(function(feedback){ %>

            <ul class="list-group">
              <li class="list-group-item"><b>Feedback Number: </b><%= feedback.fn %></li>
              <li class="list-group-item"><b>Order Number: </b><%= feedback.orderNumber %></li>
              <li class="list-group-item"><b>Customer Name: </b><%= feedback.custName %></li>
              <li class="list-group-item"><b>Customer Phone Number: </b><%= feedback.custPhone %></li>
              <li class="list-group-item"><b>Comment: </b><%= feedback.comment %></li>
              <li class="list-group-item"><b>Date: </b><%= feedback.created %></li>
            </ul><br>
                       <% }) %> 
            
    </div>
    

    

    <!--===========================================================-->
<style>
    @media (max-width:480px)  {
    /* smartphones, iPhone, portrait 480x320 phones */ 
    #content{
        margin-top: 4em;
    }
    
    .meal-card{
        margin-left: 4em;
    }
    

    
}
</style>
    

    <script>
    
    
// $('#sendBill').on('click',function()
//   {

//     $(this).parent().val('Please wait ...')
//       .attr('disabled','disabled');
//     $('#theform').submit();
//   });
  
  
    </script>
    


<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/alert.js"></script>


<% include ./partials/footer %>
